{{ define "main" }}
<main>
  <div class="container py-5">

    <div class="row align-items-center">
      <div class="col">
        <h1 class="fw-bold mb-5">Our purpose</h1>
        <p>Some text explaining why we do what we do, what makes us different and unique, why should people ask for our
          services and contact us</p>
        <a class="btn btn-primary mt-2" href="/team" role="button">Get to know us</a>
      </div>
      <div class="col">
        <img src="/home/home.png" alt="uLynks" class="img-fluid" width="800">
      </div>
    </div>

    <div class="mt-5 mb-5">
      <h1 class="fw-bold mt-4 mb-5">How we can help you</h1>



      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex text-center align-items-center">

        {{ $_expertise := slice
          (dict
            "icon" "bar-chart"
            "title" "Data Analysis"
            "text" "We offer data analysis consulting services to research support teams"
          )
          (dict
            "icon" "signpost-split"
            "title" "AI"
            "text" "We keep up with the latest advancements of AI and can help you take the most out of it"
          )
          (dict
            "icon" "laptop"
            "title" "Web Apps"
            "text" "We develop web applications for research support and knowledge sharing"
          )
          (dict
            "icon" "mortarboard-fill"
            "title" "Training"
            "text" "We offer training to related to AI and data analysis to non tech professionals"
          )
        }}
        {{ range $_expertise }}
        <div class="col py-3">
          <div class="card">
            <div class="card-header">
              <h1><i class="bi bi-{{ .icon }}"></i></h1>
            </div>
            <div class="card-body ">
              <h5 class="card-title fw-bold">{{ .title }}</h5>
              <p class="card-text">{{ .text }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <p><a class="btn btn-primary mt-5" href="/expertise" role="button">See all expertise</a></p>
    </div>

    <div class="mt-5 mb-5">
      <h1 class="fw-bold">Brands that trust us</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center d-flex align-items-center">
        {{ $_brand := slice
          (dict
            "src" "sdu"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "aa"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "yerun"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "prep4blue"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "banos"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "bmaa"
            "href" "www.sdu.dk/en"
          )
        }}
        {{ range $_brand }}
        <div class="col py-3">
          <a href="https://{{ .href }}"><img class="img-fluid" src="/home/white-{{ .src }}.svg" alt="{{ .src }}"></a>
        </div>
        {{ end }}
      </div>
      <p><a class="btn btn-primary mt-5" href="/portfolio" role="button">See our portfolio</a></p>
    </div>
  </div>
</main>
{{ end }}
