{{ define "main" }}
<main>
  <div class="container py-5">

    <h1 class="display-1">Discover our expertise</h1>

    <div>

      {{/* reverse so that the most recent event appears first  */}}
      {{ range .Pages.Reverse }}

      <br>

      {{/* card with image, title, description and buttons  */}}
      <div class="card">
        <div class="card-header">
          <img src="{{ .Params.image }}" width="100">
          <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        </div>
        <div class="card-body">
          <p class="card-text">{{ .Params.description }}</p>
          <a class="btn btn-primary" href="{{ .RelPermalink }}" role="button">Learn more</a>
          <a class="btn btn-primary" href="#" data-mail="{{ .Site.Title }} <{{ .Site.Params.contact.email }}>"
            data-subject="Sent From {{ .Site.Title }}' Website" role="button">Contact us</a>
        </div>
      </div>




      {{ end }}
    </div>


  </div>
</main>
{{ end }}
