{{ define "main" }}
<main>
  <div class="container py-5">

    <h1 class="display-1 pb-4">{{ .Title }}</h1>

    {{ .Content }}

    <div class="list-group">
      {{ range .Pages }}

      <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action" aria-current="true">

        <div class="d-flex w-100 justify-content-between">

          <h5 class="my-3">{{ .LinkTitle }}</h5>
          <small class="mt-1 text-body-secondary">
            {{ $dateMachine := .Date | time.Format "2024-02-20T00:00:45+01:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </small>

        </div>

        {{- /*
            <img class="rounded float-end h-auto pb-2" width="150" src="{{ .Params.image }}">
        */}}

        <p class="text-body-secondary mb-2">
          {{ .Summary | safeHTML | truncate 200 }}
        </p>
      </a>

      {{ end }}
    </div>

  </div>
</main>
{{ end }}
