<footer class="mt-auto">
  <div class="container-fluid bg-orange py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Explore</h5>
          <ul class="nav flex-column">
            {{- range site.Menus.main }}
            <li class="nav-item mb-2">
              <a class="nav-link p-0 text-body-secondary" href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{- end }}
          </ul>
        </div>

        <div class="col">
          <h5>Address</h5>
          <ul class="nav flex-column">
            <li class="nav-item text-body-secondary">Cortex Park 26</li>
            <li class="nav-item text-body-secondary">Room 3.2.19</li>
            <li class="nav-item text-body-secondary">DK-5230 Odense M</li>
          </ul>
        </div>

        <div class="col">
          <h5>Contact</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary"
                href="mailto:{{ .Site.Params.contact.email }}">eMail&nbsp;<i class="bi bi-envelope-fill"></i></a>
            </li>
          </ul>
        </div>

        <div class="col text-end">
          {{/* <img src="/logo/ulynks-logo-color-no-text.png" alt="uLynks" class="img-fluid" width="200"> */}}
          <img src="/logo/ulynks-logo-color.svg" alt="uLynks" height="175">
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
        <p>&copy; {{ now.Year }} {{ .Site.Title }}. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          {{- range site.Params.social }}
          <li class="ms-3"><a class="link-body-emphasis" href="{{ .url }}" rel="me" title="Visit {{ .icon }} account"><i
                class="bi bi-{{ .icon }}"></i></a></li>
          {{- end }}
        </ul>
      </div>
    </div>
  </div>
</footer>