<header class="container-lg mx-auto p-responsive d-flex flex-items-center flex-wrap flex-md-nowrap pt-3 pb-6">
    <div>
        <a class="text-white mr-3" href="/"><strong>{{ .Site.Title }}</strong></a>
        <a class="text-white mr-3" href="/">Home</a>
        <a class="text-white mr-3" href="/about-us">About us</a>
        <a class="text-white mr-3" href="/services">Services</a>
        <a class="text-white mr-3" href="/products">Products</a>
        <a class="text-white mr-3" href="/contact-us">Contact us</a>
    </div>
</header>