<!-- Start Navbar -->
<nav class="UnderlineNav" aria-label="Nav bar">
    <div class="UnderlineNav-body">
        <img class="avatar" height="40" alt="{{ .Site.Title }}" src="/img/logo.png" width="40">
        <a class="UnderlineNav-item app-link" href="#home" aria-current="page">Home</a>
        <a class="UnderlineNav-item app-link" href="#about">About</a>
        <a class="UnderlineNav-item app-link" href="#services">Services</a>
    </div>
    <div class="UnderlineNav-actions">
        <a href="mailto:{{ .Site.Params.contact.email }}" class="btn btn-sm">Reach Us</a>
    </div>
</nav>
<!-- End Navbar -->