<!-- Start Navbar -->
<header>
  <div class="container-fluid bg-body-tertiary">
    <nav class="navbar navbar-expand-lg py-0">
      <div class="container">
        <a class="navbar-brand py-0" href="/" title="Home">
          <img src="/img/orange-logo-and-name.png" alt="{{ .Site.Title }}" class="img-fluid" width="200"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="nav nav-underline me-3">
            {{- range site.Menus.main }}
            <li class="nav-item me-3">
              <a class="nav-link" href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{- end }}
          </ul>
          <a class="btn btn-primary" href="#" data-mail="{{ .Site.Title }} <{{ .Site.Params.contact.email }}>"
            data-subject="Sent From {{ .Site.Title }}' Website" role="button">Contact Us</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Navbar -->
