{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
{{- $label := (index . 0).Parent.LinkTitle }}
<div>
  {{- range . }}
  <a href="{{ .RelPermalink }}" title="View all {{ .LinkTitle }} content"><span
      class="badge rounded-pill text-bg-primary">{{ .LinkTitle }}</span></a>
  {{- end }}
</div>
{{- end }}
