<hr class="hr">
<div class="my-5">
  <div class="text-center mb-4">
    <h3 class="fw-bold"> Inspiration Struck? Let’s Craft Your Platform!</h3>
  </div>
  <div class="text-center font-medium">
    <p>If our work has sparked your interest we are here to bring that vision to life!
      <br />
      Get in touch to discuss your project.
    </p>
    <a class="btn btn-secondary me-2 my-3" href="mailto:{{ .Site.Params.contact.email }}" role="button">Contact us</a>
    <p>We are excited to work with you to develop a web app tailored to your unique needs.</p>
  </div>
</div>
