{{ define "main" }}
<main>
  <div class="container py-5">

    <div class="row align-items-center">
      <div class="col-sm-8 py-3 lead">
        {{- /*
          <h1 class="fw-bold mb-4">Our purpose</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.</p>
        <a class="btn btn-primary mt-2" href="/team" role="button">Get to know us</a>
        */}}
        {{ .Content }}
      </div>
      <div class="col-sm-4 py-3">
        <img src="/home/home.png" alt="{{ .Content }}" class="img-fluid img-hover">
      </div>
    </div>

    <div class="mt-5 mb-5">
      <h1 class="fw-bold mt-4 mb-5">How we can help you</h1>
      {{- partial "expertise.html" . -}}
      {{- /* <p><a class="btn btn-primary mt-5" href="/expertise" role="button">See all expertise</a></p> */}}
    </div>

    <div class="mt-5 mb-5">
      <h1 class="fw-bold">Organizations that trust us</h1>
      <p class="text-muted lead">Here are some of our ongoing collaborations with academic institutions and
        organizations.</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 text-center align-items-center">
        {{ $_brand := slice
          (dict
            "src" "sdu"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "aau"
            "href" "www.en.aau.dk"
          )
          (dict
            "src" "yerun"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "prep4blue"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "banos"
            "href" "www.sdu.dk/en"
          )
          (dict
            "src" "bmaa"
            "href" "www.sdu.dk/en"
          )
        }}
        {{ range $_brand }}
        <div class="col py-3">
          <a href="https://{{ .href }}"><img class="img-fluid" src="/home/white-{{ .src }}.svg" alt="{{ .src }}"></a>
        </div>
        {{ end }}
      </div>
      {{- /* <p><a class="btn btn-primary mt-5" href="/portfolio" role="button">See our portfolio</a></p> */}}
    </div>
  </div>
</main>
{{ end }}