{{ define "main" }}
<main>
  <div class="container py-5">

    <h1 class="display-1">Discover our portfolio</h1>


    <div>

      {{/* reverse so that the most recent event appears first  */}}
      {{ range .Pages.Reverse }}

      <br>

      {{/* card with image, title, description and buttons  */}}
      <div class="card">
        <div class="card-header">
          <img src="{{ .Params.image }}" width="100">
          <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        </div>
        <div class="card-body">
          <p class="card-text">{{ .Params.text }}</p>
          <a class="btn btn-primary" href="{{ .RelPermalink }}" role="button">Learn more</a>
          <a class="btn btn-primary" href="http://{{ .Params.link }}" target="_blank" role="button">Get started</a>
        </div>
      </div>




      {{ end }}
    </div>


  </div>
</main>
{{ end }}
