{{ define "main" }}
<main>
  <div class="container py-5">

    <h1 class="display-1">{{ .Title }}</h1>

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    {{ $dateMachine := .Date | time.Format "2024-02-20T00:00:45+01:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <p class="text-body-secondary py-3"><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></p>

    {{ .Content }}

  </div>
</main>

{{ if site.Params.debug }}
{{ partial "template-open-in-vs-code.html" . }}
{{ end }}
{{ end }}