<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <i class="bi bi-{{ .Get "icon1" }}"></i>
        <h5 class="card-title">{{ .Get "title1" }}</h5>
        <p class="card-text">{{ .Get "text1" }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <i class="bi bi-{{ .Get "icon2" }}"></i>
        <h5 class="card-title">{{ .Get "title2" }}</h5>
        <p class="card-text">{{ .Get "text2" }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <i class="bi bi-{{ .Get "icon3" }}"></i>
        <h5 class="card-title">{{ .Get "title3" }}</h5>
        <p class="card-text">{{ .Get "text3" }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <i class="bi bi-{{ .Get "icon4" }}"></i>
        <h5 class="card-title">{{ .Get "title4" }}</h5>
        <p class="card-text">{{ .Get "text4" }}</p>
      </div>
    </div>
  </div>
</div>
</div>
