{{ if strings.ContainsNonSpace .Inner }}

<div class="container py-4">

  <div class="row">
    <div class="col-md-7">
      <h2 class="pb-4">Empowering research collaboration.</h2>
      <p>Find universities, researchers, publications, grants, expand your network, and stay up to
        date with the work of other YERUN members.</p>
      <p>Break out of your departmental, institutional, and disciplinary siloes to advance your
        research agenda and stay competitive.</p>
    </div>
    <div class="col-md-5">
      <img src="/portfolio/connect-by-yerun/image.15c80931.svg" class="d-block w-100" alt="CONNECT BY YERUN">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-7 order-md-2">
      <h2 class="pb-4">What is it ?</h2>

      <p class="mt-2">CONNECT BY YERUN is a data-driven web application that <strong>recommends
          potential research collaborations and funding opportunities</strong> to each individual
        researcher in <a href="https://www.yerun.eu/" target="_blank" rel="noopener noreferrer">YERUN</a>.</p>
      <p class="mt-4">Our mission is to foster collaboration and knowledge exchange, sparking synergies among YERUN
        member institutions and paving the way for ground-breaking research outcomes. This initiative aims to return
        control to universities and the researchers themselves, enabling them to take a more active role in shaping
        their research agendas and funding pursuits.</p>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 text-center">

        <div class="card-group py-2">
          <div class="card h-100">
            <div class="card-body">
              <p class="fs-1 mb-0"><i class="bi bi-mortarboard-fill"></i></p>
              <h5 class="card-title fw-bold">Collaborate with universities</h5>
            </div>
          </div>
        </div>

        <div class="card-group py-2">
          <div class="card h-100">
            <div class="card-body">
              <p class="fs-1 mb-0"><i class="bi bi-people-fill"></i></p>
              <h5 class="card-title fw-bold">Connect with researchers</h5>
            </div>
          </div>
        </div>

        <div class="card-group py-2">
          <div class="card h-100">
            <div class="card-body">
              <p class="fs-1 mb-0"><i class="bi bi-book-half"></i></p>
              <h5 class="card-title fw-bold">Explore publications</h5>
            </div>
          </div>
        </div>

        <div class="card-group py-2">
          <div class="card h-100">
            <div class="card-body">
              <p class="fs-1 mb-0"><i class="bi bi-currency-exchange"></i></p>
              <h5 class="card-title fw-bold">Discover new grants</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/portfolio/connect-by-yerun/meeting.webp" class="d-block w-100" alt="CONNECT BY YERUN">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-5">
      <h2 class="pb-4">Who is it for?</h2>
      <p>CONNECT BY YERUN is a platform developed for the researchers and research managers of
        the 23 universities that are part of the <a href="https://www.yerun.eu/" target="_blank"
          rel="noopener noreferrer">Young European Research Universities Network (YERUN)</a>.</p>
      <p>All researchers with an ORCID ID can login but only the ones that are part of the 23 Universities will be able
        to take the most out of the platform.</p>
    </div>
    <div class="col-md-7">
      <img src="/portfolio/connect-by-yerun/connect-by-yerun-sample.svg" class="d-block w-100" alt="CONNECT BY YERUN">
    </div>
  </div>


  <hr class="featurette-divider">

  <h2 class="pb-4">Key Features</h2>
  <dl class="row">
    <dt class="col-sm-3">Make powerful searches</dt>
    <dd class="col-sm-9">
      <p>Search for individuals, but also publications and grants. You can use long texts to find
        what you are looking for, while still being able to use filters and keywords.</p>
    </dd>

    <dt class="col-sm-3">Get suggestions</dt>
    <dd class="col-sm-9">
      <p>According to your profile the app will suggest some more researchers, grants or
        publications you might be interested in. We also send you notification so that you don’t miss anything.</p>
    </dd>

    <dt class="col-sm-3">Everything in one place</dt>
    <dd class="col-sm-9">
      <p>Access information available on multiple platforms (ORCID, CORDIS, etc) is one easy to use
        web application.</p>
    </dd>
  </dl>




</div><!-- /.container -->

{{ end }}